<footer class="footer mx-auto">
  <div class="footer__all p-4">
    <div class="container mx-auto">
      <div class="footer__wrapper flex-wrap sm:flex-nowrap">
        <div class="footer__left md:w-1/2">
          <a href="#" class="footer__logo">
            <div class="footer__logo-image">
              <img src="assets/icons/footer-logo.svg" alt="logo" />
            </div>
            <div class="footer__logo-text">Lawliet</div>
          </a>
        </div>
        <app-footer-column></app-footer-column>
      </div>
    </div>
  </div>
  <app-footer-bottom></app-footer-bottom>
</footer>
