<header class="header">
  <div class="container mx-auto">
    <div class="header__wrapper">
      <a class="header__logo">
        <img
          src="assets/icons/logo.svg"
          alt="logo"
          class="header__logo-image"
        />
        <h2 class="header__logo-title">Lawliet</h2>
      </a>
      <nav class="header__navbar">
        <ul class="header__navbar-list">
          <li class="header__navbar-list-item"><a href="#">contact</a></li>
          <li class="header__navbar-list-item"><a href="#">testimonials</a></li>
          <li class="header__navbar-list-item"><a href="#">about</a></li>
          <li class="header__navbar-list-item"><a href="#">terms</a></li>
        </ul>
      </nav>
      <div class="header__search">
        <img
          src="assets/icons/search-icon.svg"
          alt="search-icon"
          class="header__search-image"
        />
      </div>
    </div>
  </div>
</header>
