<div class="footer__bottom">
  <div class="container mx-auto">
    <div class="footer__bottom-wrapper">
      <div class="footer__bottom-left w-1/2">
        © 2021 Lawliet. All rights reserved
      </div>
      <div class="footer__bottom-right w-1/2">
        <div class="footer__bottom-icons">
          <div class="footer__bottom-icon">
            <img
              src="assets/icons/footer-icons/instagram.svg"
              alt="inst"
            />
          </div>
          <div class="footer__bottom-icon">
            <img
              src="assets/icons/footer-icons/basketball.svg"
              alt="inst"
            />
          </div>
          <div class="footer__bottom-icon">
            <img
              src="assets/icons/footer-icons/twitter.svg"
              alt="inst"
            />
          </div>
          <div class="footer__bottom-icon">
            <img
              src="assets/icons/footer-icons/youtube.svg"
              alt="inst"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
