$title-color: #2D2F30;
$description-color: #4F4F4F;
$button-background-color: #094B72;
$button-text-color: #F9F8F9;

.cta {
  max-width: 142rem;
  padding: 3.6rem 1rem 4rem 1rem;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  &__title {
    font: normal normal 700 4.8rem/1.33 'Playfair Display', sans-serif;
    color: $title-color;
  }
  &__description {
    max-width: 82rem;
    margin-top: 2rem;
    font: normal normal 400 2.4rem/1.5 'Poppins', sans-serif;
    color: $description-color;
  }
  &__button {
    max-width: 22rem;
    margin-top: 2.5rem;
    padding: 1.4rem 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    background: $button-background-color;
    border-radius: .8rem;
    color: $button-text-color;
    font: normal normal 600 2.2rem 'Poppins', sans-serif;
  }
  &__left {
    min-width: 33rem;
    border-bottom-left-radius: 4rem;
    overflow: hidden;
  }
}