<section class="cta mx-auto">
  <div class="container mx-auto">
    <div class="cta__wrapper flex-wrap md:flex-nowrap">
      <div class="cta__right">
        <h3 class="cta__title">Complex Questions?</h3>
        <p class="cta__description">
          Request for a personalized budget for your legal problem. We will send
          you a coupe options in 24 hours. You can have free consult , if a our
          first customer
        </p>
        <button class="cta__button">
          <img src="assets/icons/phone.svg" alt="">
          <span>Call now</span>
        </button>
      </div>
      <div class="cta__left">
        <img src="assets/img/cta-man.png" alt="">
      </div>
    </div>
  </div>
</section>
