/* You can add global styles to this file, and also import other style files */
// * Google Fonts Import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@700;900&family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700;800&display=swap");

// * Tailwind style directives components
@tailwind base;
@tailwind components;
@tailwind utilities;

// * Base styles
html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 111rem;
}
